@layer recipes {
  @layer _base {

    .unsorted {
      display: table;
}
}

  .unsorted--variant_outline {
    outline: 1px solid var(--colors-red-500);
}

    .text {
      display: inline;
}

  .text--visual_funky {
    background: var(--colors-red-200);
    color: var(--colors-slate-800);
}

  .text--visual_edgy {
    border: 1px solid var(--colors-red-500);
}

    .input {
      display: block;
}

  .input--size_sm {
    padding: var(--spacing-4);
    font-size: 12px;
}

  .input--size_lg {
    padding: var(--spacing-8);
    font-size: 40px;
}
    .button {
      display: flex;
}

  .button--shape_square {
    border-radius: 0;
}

  .button--shape_circle {
    border-radius: var(--radii-full);
}
}